
/* //X-Large devices (large desktops, less than 1400px)*/
@media (max-width: 1399.98px) { 



 }

/*// Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) { 


.banner-warp h1 {
    font-size: 50px;
}
.banner-warp h2 {
    font-size: 40px;
}
.banner-warp h3 {
    font-size: 35px;
    display: flex;
}
p {
    font-size: 14px;
}



 }

/*// Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) { 

.banner-warp h1 {
    font-size: 45px;
}
span.username::before {
    font-size: 45px;
}
.banner-warp h2 {
    font-size: 37px;
}
.banner-warp h3 {
    font-size: 32px;
    display: flex;
}
.custom-btn {
  width: 120px;
  height: 45px;
  font-size: 15px;
}
.about-img {
    width: 100%;
}
.about-img::before {
    left: -15px;
    top: 15px;
}
.section-padding {
    padding: 50px 0;
}
h1.section-heading {
    margin-bottom: 10px;
    font-size: 35px;
}
.section-title-warp p {
    font-size: 13px;
}
.single-service-warp {
    transform: translateX(0) !important;
}
.single-service {
    padding: 10px;
}
.services .progress-bar {
  animation: none;
}
.service-img img {
    max-width: 45px;
    margin: 20px;
}
.single-service h5 {
    margin-bottom: 10px;
    font-size: 16px;
}
.single-service-warp p {
    color: #222;
    font-size: 10px;
}

.single-portfolio.nth-1,.single-portfolio.nth-4,.single-portfolio.nth-5 {
    height: var(--portfolio-card-height-1);
}
.single-portfolio.nth-2,.single-portfolio.nth-3,.single-portfolio.nth-6 {
    height: var(--portfolio-card-height-2);
}
.single-portfolio.nth-3 {
    margin-top: -90px;
}
.single-portfolio.nth-4,.single-portfolio.nth-6 {
    margin-top: 0px;
}
.single-portfolio.nth-3 {
    height: calc(var(--portfolio-card-height-2) + 60px);
}
.single-portfolio.nth-6 {
    margin-top: -60px;
}
.single-portfolio.nth-5 {
    height: calc(var(--portfolio-card-height-1) + 30px);
}
.single-contact {
    padding: 25px 30px;
}
.contact-form-content-warp {
    padding: 80px 100px;
}
.main-menu ul li {
    margin: 0 10px;
}
.main-menu ul li a {
    font-size: 16px;
}
.main-menu ul li a:before {
    bottom: 0px;
}


 }

/*// Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) { 

.custom-side-scroll {
    display: none;
} 
.header.sticky {
    padding: 10px 0;
}
 h1.logo {
    font-size: 35px;
}
.banner-warp h1 {
    font-size: 32px;
}
span.username::before {
    font-size: 30px;
}
.banner-warp h2 {
    font-size: 30px;
    margin: 0;
}
.banner-warp h3 {
    font-size: 14px;
    display: flex;
}
video {
    display: none;
}
.custom-btn {
  width: 120px;
  height: 45px;
  font-size: 15px;
}
.about {
    text-align: center;
}
.about-img {
    width: 70%;
    margin-bottom: 50px;
}
.about-img::before {
    left: -15px;
    top: 15px;
}
.section-padding {
    padding: 50px 0;
}
h1.section-heading {
    margin-bottom: 10px;
    font-size: 35px;
}
.single-service-warp {
    transform: translateX(0) !important;
    margin: 10px;
}
.services .progress-bar {
  animation: none;
}
.single-service {
    padding: 15px;
}
.single-service-warp p {
    color: #222;
    font-size: 13px;
}
.single-portfolio {
    height: 650px;
    margin-top: 10px !important;
}
.contact-form-content-warp {
    padding: 50px 30px;
}
.main-menu {
    display: none;
}
.footer-copyright {
    background: #222;
    padding: 15px 0;
}
#contact {
    display: inherit;
    text-align: center;
}
.contact-bar-warp {
    position: relative;
    transform: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
}
.single-contact {
    padding: 15px !important;
    width: 33.33%;
}
.single-contact p {
    font-size: 12px;
}
.single-contact img {
    width: 40px;
}
.contact-bg::after {
    display: none;
}
.sidebar-toggle {
    display: inline-block;
}
.loader {
    display: none;
}




}


/*// X-Small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 

.about-content p {
    font-size: 12px;
}
.section-title-warp p {
    font-size: 12px;
}



 }

/* Wide Mobile Layout: 375px. */
@media only screen and (max-width: 375px) { 
    .single-contact:nth-child(2) p {
        margin-left: -13px;
    }
}   